*.o
*.so
*.swp
*.bin
*.sgf
models
test_playout_multithread
cnnPlayerV2/game-*.sgf
dataset/
rl_network/sgf2gif/
rl_network/test.lua

# IDE
.idea/
CMakeLists.txt
cmake-build-debug/

# others
.DS_Store

# checkpoints
*.ckpt/
resnet/show.lua
